.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    background: #232332;
}

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;     /* Игрок */
}

.invader { 
    background-color: purple;   /* Враги */
   
    border-radius: 10px;
}

.boom {
    background-color: red;      /* Взрыв */
}

.laser {
    background-color: orange;   /* Заряд */
}


/* Окно резултата */

.quiz-over-modal {
    display: none;
  }
  
  .quiz-over-modal.active {
    display: block;
    margin: auto;
    width: 400px;
    height: 250px;
    background: rgb(105, 182, 54);
    color: #fff;
    text-align: center;
    padding-top: 40px;
    border-radius: 20px 20px 20px 20px;
  }
  
  #btn-next {
    font-size: 20px;
    padding: 25px;
    color: #fff;
    background-color: rgb(194, 209, 63);
    cursor: pointer;
    border-radius: 10px;
    border: rgb(255, 218, 51);
  }
  #btn-next:hover {
    background-color: rgb(205, 219, 74);
  }
  
/* Окно резултата */